<table class="table table-striped">
  <thead>
    <tr>
      <th>Empresa</th>
      <th>Adquisición o Servicio</th>
      <th>Concepto</th>
      <th>Fecha vencimiento</th>
      <th>Pagos</th>
      <th>Monto</th>
      <th>Total pagado</th>
      <th>Pagada completamente</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cuotas.each do |cuota| %>
      <tr>
        <% if cuota.adquisicion.present? %>
          <td><%= cuota.adquisicion.empresa.nombre %></td>
          <td><%= cuota.adquisicion.producto.nombre %></td>
        <% elsif cuota.servicio.present? %>
          <td><%= cuota.servicio.empresa.nombre %></td>
          <td><%= cuota.servicio.comentarios %></td>
        <% end %>
        <td><%= cuota.concepto %></td>
        <td><%= cuota.fecha_vencimiento %></td>
        <td><%= link_to "#{cuota.movimientos.count} pagos", cuota_movimientos_path(cuota) %></td>
        <td><%= number_to_currency(cuota.monto) %></td>
        <td><%= number_to_currency(cuota.total_abonado) %></td>
        <td><%= cuota.pagada?? "Sí" : "No" %></td>
        <td>
          <div class="btn-group">
            <%= link_to cuota, class: "btn btn-xs btn-default" do %>
              <%= fa_icon("eye", text: "Ver") %>
            <% end %>
            <%= link_to edit_cuota_path(cuota), class: "btn btn-xs btn-default" do %>
              <%= fa_icon("pencil", text: "Editar") %>
            <% end %>
            <%= link_to cuota, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: "¿Seguro de eliminar este cuota?" } do %>
              <%= fa_icon("plus", text: "Eliminar") %>
            <% end %>
            <% if cuota.adquisicion.present? %>
              <%= link_to new_cuota_movimiento_path(cuota, params: { movimiento: { cuota_id: cuota.id, cuenta_debito_type: 'CuentaCliente', cuenta_debito_id: cuota.adquisicion.empresa.cuentas_clientes.first.id, cuenta_credito_type: 'CuentaPropia', fecha_supuesta: cuota.fecha_vencimiento } } ), class: "btn btn-xs btn-success" do %>
                <%= fa_icon("plus", text: "Pago") %>
              <% end %>
            <% elsif cuota.servicio.present? %>
              <%= link_to new_cuota_movimiento_path(cuota, params: { movimiento: { cuota_id: cuota.id, cuenta_credito_type: 'CuentaProveedor', cuenta_credito_id: cuota.servicio.empresa.cuentas_proveedores.first.id, cuenta_debito_type: 'CuentaPropia', fecha_supuesta: cuota.fecha_vencimiento } } ), class: "btn btn-xs btn-success" do %>
                <%= fa_icon("plus", text: "Pago") %>
              <% end %>
            <% end %>
          </div>
      </tr>
    <% end %>
  </tbody>
</table>
