<%= bootstrap_form_for(@movimiento) do |f| %>

<%= f.alert_message "Han ocurrido los siguientes problemas:" %>

<%= f.hidden_field :cuota_id %>
<%= f.hidden_field :cuenta_debito_type %>
<%= f.hidden_field :cuenta_debito_id %>
<%= f.hidden_field :cuenta_credito_type %>

<!-- TODO: Ordenar esto con FormBuilder -->
<%= f.select :cuenta_credito_id, CuentaPropia.options_for_select('credito'), include_blank: true, label: "Cuenta de crédito" %>

<%= f.number_field :monto, label: "Monto ($)" %>

<%= f.text_field :concepto, value: "Pago de cuota #{@movimiento.cuota.id}" %>
<p>Fecha de vencimiento de la cuota: <%= @movimiento.cuota.fecha_vencimiento %></p>
<%= f.date_select :fecha_supuesta %>
<%= f.date_select :fecha_efectiva %>
<%= f.check_box :hecha, checked: true%>

<%= f.primary %>
<%= link_to "Atrás", movimientos_path, class: "btn btn-link" %>

<% end %>
