.navbar.navbar-default.navbar-static-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Desplegar navegación
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to("Gema", root_path, class: "navbar-brand")
    .navbar-collapse.collapse
      - if user_signed_in?
        %ul.nav.navbar-nav
          = navbar_link_to("Inicio", root_path, active_when: { controller: "home" })
          = navbar_link_to("Nuevo movimiento", new_movimiento_path)
          = navbar_link_to("Empleados", empleados_path)
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Salir", destroy_user_session_url, { 'data-method': :delete }

      - else
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Ingresar", new_user_session_path
          %li= link_to "Registrarse", new_user_registration_path
