<% provide(:title, "Lista de cuentas_sueldos") %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Empleado</th>
      <th>Nombre</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cuentas_sueldos.each do |cuenta_sueldo| %>
      <tr>
        <td><%= cuenta_sueldo.empleado %></td>
        <td><%= cuenta_sueldo.nombre %></td>
        <td>
          <div class="btn-group">
            <%= link_to cuenta_sueldo, class: "btn btn-xs btn-default" do %>
              <%= fa_icon("eye", text: "Ver") %>
            <% end %>
            <%= link_to edit_cuenta_sueldo_path(cuenta_sueldo), class: "btn btn-xs btn-default" do %>
              <%= fa_icon("pencil", text: "Editar") %>
            <% end %>
            <%= link_to cuenta_sueldo, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: "¿Seguro de eliminar este cuenta_sueldo?" } do %>
              <%= fa_icon("trash-o", text: "Eliminar") %>
            <% end %>
          </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_cuenta_sueldo_path, class: "btn btn-default" do %>
  <%= fa_icon("plus", text: "Nuevo Cuenta sueldo") %>
<% end %>
