<%= bootstrap_form_for(@adquisicion) do |f| %>

  <%= f.alert_message "Han ocurrido los siguientes problemas:" %>

  <% unless @adquisicion.persisted? %>
    <%= f.hidden_field :empresa_id, value: @empresa.id %>
  <% else %>
    <h4><%= @adquisicion.empresa.nombre %></h4>
  <% end %>
  <%= f.select :producto_id, Producto.all.collect { |prod| [prod.nombre, prod.id, { 'data-precio' => prod.precio_default }] } %>
  <%= f.text_field :precio, value: Producto.first.precio_default %>
  <%= f.text_field :comentarios %>
  <%= f.date_field :inicio, label: "Inicio del contrato" %>
  <!-- <%= f.date_select :fin %> -->
  <%= f.select :tipo_pago, tipos_pago_for_form %>

  <%= render 'shared/many_cuotas_form', '@object': @adquisicion %>

  <%= f.primary %>
  <%= link_to "Atrás", empresa_adquisiciones_path(@adquisicion.empresa), class: "btn btn-link" %>

<% end %>
