<% provide(:title) do %>
Empresa #<%= @empresa.id %>
<% end %>

<table class="table table-bordered">
  <tbody>
    <tr>
      <th class="col-sm-4">Nombre</th>
      <td><%= @empresa.nombre %></td>
    </tr>
    <tr>
      <th class="col-sm-4">CUIT</th>
      <td><%= @empresa.cuit %></td>
    </tr>
    <tr>
      <th class="col-sm-4">Adquisiciones (contrataciones a
        <%= NOMBRE_EMPRESA %>)</th>
      <td>
        <% num_adq = @empresa.adquisiciones.count
                  case num_adq
                  when 0 %>
        0 activas
        <% when 1 %>
        <%= link_to "#{num_adq} activas", adquisicion_path(@empresa.adquisiciones.first) %>
        <% when 2 %>
        <%= link_to "#{num_adq} activas", empresa_adquisiciones_path(@empresa) %>
        <% end %></td>
    </tr>
    <tr>
      <th class="col-sm-4">Servicios (que le brinda a <%= NOMBRE_EMPRESA %>)</th>
      <td>
        <% num_servs = @empresa.servicios.count
                  case num_servs
                  when 0 %>
        0 activas
        <% when 1 %>
        <%= link_to "#{num_servs} activas", servicio_path(@empresa.servicios.first) %>
        <% when 2 %>
        <%= link_to "#{num_servs} activas", empresa_servicios_path(@empresa) %>
        <% end %></td>
    </tr>
  </tbody>
</table>

<p>
  <%= link_to "Editar", edit_empresa_path(@empresa), class: "btn btn-primary" %>
  <%= link_to "Atrás", empresas_path, class: "btn btn-link" %>
</p>
