<% provide(:title, "Lista de cuentas_propias") %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Dueno</th>
      <th>Nombre</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cuentas_propias.each do |cuenta_propia| %>
      <tr>
        <td><%= cuenta_propia.dueno %></td>
        <td><%= cuenta_propia.nombre %></td>
        <td>
          <div class="btn-group">
            <%= link_to cuenta_propia, class: "btn btn-xs btn-default" do %>
              <%= fa_icon("eye", text: "Ver") %>
            <% end %>
            <%= link_to edit_cuenta_propia_path(cuenta_propia), class: "btn btn-xs btn-default" do %>
              <%= fa_icon("pencil", text: "Editar") %>
            <% end %>
            <%= link_to cuenta_propia, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: "¿Seguro de eliminar este cuenta_propia?" } do %>
              <%= fa_icon("trash-o", text: "Eliminar") %>
            <% end %>
          </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_cuenta_propia_path, class: "btn btn-default" do %>
  <%= fa_icon("plus", text: "Nuevo Cuenta propia") %>
<% end %>
